table{
    margin: 40px 0;
    width: 100%;
    text-align: right;
    /* border: 1px solid #91A8D0; */
    border-collapse: collapse;
    border-radius: 3px;
}

th{
    background-color: #dbe3f0;
    color: #034F84;
}

td, th{
    padding: 5px 10px;
    text-align: left;
}

td:first-child, th:first-child{
    text-align: right;
}